--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu124
--only-binary llama-cpp-python

nvidia-cublas-cu12
nvidia-cuda-runtime-cu12
llama-cpp-python==0.3.29

gradio>=5.0.0
spaces>=0.43.0
sqlalchemy
google-ads>=27.0.0
pandas
python-dotenv
requests
huggingface_hub>=0.24.0